*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
modules.xml
/.idea/.name
settings.gradle
build.gradle
/.idea/vcs.xml
gradle.xml
misc.xml
vcs.xml
gradle/wrapper/gradle-wrapper.properties
